---
const { title, img, desc, url, badge, tags, target = "_blank" } = Astro.props;
import { Image } from "astro:assets";
const tag_url = url.split("/").slice(0, -1).join("/") + "/tag";
---

<div
  class="mx-auto overflow-hidden border-b border-gray-200 bg-white dark:border-gray-700 dark:bg-gray-800"
>
  <a href={url} target={target}>
    {
      img && (
        <Image
          src={img}
          width={750}
          height={422}
          format="webp"
          alt={title}
          class=" "
        />
      )
    }
  </a>
  <div class="p-5">
    <a href={url} target={target}>
      <h5
        class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
      >
        {title}
        {
          badge && (
            <span class="ml-2 inline-block rounded bg-gray-700 px-2 py-1 text-sm font-semibold text-white dark:bg-gray-600">
              {badge}
            </span>
          )
        }
      </h5>
    </a>
    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
      {desc}
    </p>
    <div class="flex items-center justify-between">
      <div class="flex">
        <a
          href={url}
          target={target}
          class="inline-flex items-center bg-primary-500 px-3 py-2 text-center text-sm font-medium text-white hover:bg-primary-600 dark:bg-primary-600 dark:hover:bg-primary-700"
        >
          Read more
          <svg
            class="ms-2 h-3.5 w-3.5 rtl:rotate-180"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 14 10"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M1 5h12m0 0L9 1m4 4L9 9"></path>
          </svg>
        </a>
      </div>
      <div class="flex space-x-2">
        {
          tags &&
            tags.map((tag: string) => (
              <a
                href={`${tag_url}/${tag}`}
                class="inline-block rounded bg-gray-200 px-2 py-1 text-xs font-medium text-gray-700"
              >
                {tag}
              </a>
            ))
        }
      </div>
    </div>
  </div>
</div>
