---
import { Image } from "astro:assets";

interface Props {
  label: string;
  title: string;
  paragraphs: string[];
  imageSrc: ImageMetadata;
  altText: string;
  imageSide?: "left" | "right";
}

const {
  label,
  title,
  paragraphs,
  imageSrc,
  altText,
  imageSide = "right",
} = Astro.props;

const isLeft = imageSide === "right";
---

<div class="flex justify-center overflow-hidden py-2">
  <div
    class={[
      "flex max-w-screen-xl flex-col items-center md:flex-row",
      isLeft ? "md:flex-row-reverse" : "",
    ].join(" ")}
  >
    <div class="h-full w-full md:w-1/2">
      <Image
        src={imageSrc}
        alt={altText}
        class={[
          "h-full rounded-lg object-cover ",
          isLeft ? "md:rounded-r-lg" : "md:rounded-l-lg",
        ].join(" ")}
      />
    </div>

    <div class="w-full px-2 py-10 md:w-1/2 md:px-10">
      <div class="text prose">
        <span
          class="border-l-2 border-primary-400 pl-2 uppercase text-gray-500 dark:text-gray-200"
        >
          {label}
        </span>
        <h2
          class="my-4 text-3xl font-bold text-gray-600 dark:text-white sm:text-4xl"
        >
          <span
            class="inline-block w-full bg-secondary-500 py-4 pl-6 dark:bg-secondary-800"
          >
            <span class="text-accent-300">{title}</span>
          </span>
        </h2>
        <div class="text-lg text-gray-500 dark:text-gray-200">
          {paragraphs.map((paragraph) => <p>{paragraph}</p>)}
        </div>
      </div>
    </div>
  </div>
</div>
