---
import Brand from "./BrandFooter.astro";
const today = new Date();

const footerLinks = [
  {
    title: "Navigation",
    children: [
      { title: "Home", path: "/" },
      { title: "About Us", path: "/about" },
      { title: "Membership", path: "/membership" },
      { title: "Shop", path: "/shop" },
      { title: "Donations", path: "/donations" },
      { title: "Contact Us", path: "/contact" },
    ],
  },
  {
    title: "Legal",
    children: [
      { title: "Bylaws", path: "/bylaws" },
      { title: "Code of Conduct", path: "/codeofconduct" },
      { title: "Financials", path: "/financials" },
    ],
  },
  {
    title: "Contact",
    children: [
      { title: "207 N. Tyler st.\nAmarillo, TX 79107", path: "" },
      { title: "(806) 410-0584", path: "" },
      { title: "panhandlepeoplespantry@gmail.com", path: "" },
    ],
  },
];
---

<style>
  .address {
    white-space: pre-line; /* Maintains line breaks */
  }
</style>

<footer class="bg-secondary-700 dark:bg-secondary-800">
  <div class="mx-auto w-full max-w-screen-xl px-0 pb-8 pt-12 sm:px-4 lg:pt-24">
    <div class="pb-8 md:justify-between lg:flex">
      <div class="mb-6 md:mb-12">
        <Brand />
      </div>
      <div
        class="mx-12 grid grid-cols-1 gap-8 sm:gap-6 md:grid-cols-2 lg:mx-0 lg:grid-cols-3 lg:gap-0"
      >
        {
          footerLinks.map((item) => (
            <>
              <div>
                <h2 class="mb-6 w-1/2 text-sm font-bold uppercase text-gray-100">
                  {item.title}
                  <hr class="mt-2 w-full border-t-2 border-accent-300" />
                </h2>

                {/* conditional that makes a link if path is not empty */}
                <ul class="font-normal text-gray-500 dark:text-gray-400">
                  {item.children.map((child) => (
                    <li class="mb-4">
                      {child.path ? (
                        <a
                          href={child.path}
                          class="address text-white hover:text-accent-300 hover:underline"
                        >
                          {child.title}
                        </a>
                      ) : (
                        <span class="address text-white">{child.title}</span>
                      )}
                    </li>
                  ))}
                </ul>
              </div>
            </>
          ))
        }
      </div>
    </div>
    <hr
      class="my-6 border-t-2 border-accent-300 dark:border-gray-700 sm:mx-auto lg:my-8"
    />
    <!-- info  -->
    <div class="sm:flex sm:items-center sm:justify-between">
      <div>
        <span class="text-sm text-gray-300 dark:text-gray-400 sm:text-center"
          >&copy; {today.getFullYear()}
          <a
            href="/"
            class="text-accent-300 hover:text-gray-300 hover:underline"
            >The Panhandle People's Pantry Co-op™</a
          >. All Rights Reserved.
        </span>
        <span class="text-sm text-gray-300 dark:text-gray-400 sm:text-center">
          Site designed by
          <a
            href="https://yellowcityweb.dev/"
            class="text-accent-300 hover:text-gray-300 hover:underline"
            >yellowcityweb.dev</a
          >.
        </span>
      </div>

      <!-- social svgs -->
      <div class="mt-4 flex sm:mt-0 sm:justify-center">
        <a
          href="https://www.facebook.com/profile.php?id=61576697263737"
          class="text-gray-400 hover:text-gray-900 dark:hover:text-white"
        >
          <svg
            class="h-4 w-4 fill-current hover:text-gray-300"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 8 19"
          >
            <path
              fill-rule="evenodd"
              d="M6.135 3H8V0H6.135a4.147 4.147 0 0 0-4.142 4.142V6H0v3h2v9.938h3V9h2.021l.592-3H5V3.591A.6.6 0 0 1 5.592 3h.543Z"
              clip-rule="evenodd"></path>
          </svg>
          <span class="sr-only">Facebook page</span>
        </a>
        <a
          href="#"
          class="ms-5 text-gray-400 hover:text-gray-900 dark:hover:text-white"
        >
          <svg
            class="h-4 w-4 fill-current hover:text-gray-300"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              fill="currentColor"
              fill-rule="evenodd"
              d="M3 8a5 5 0 0 1 5-5h8a5 5 0 0 1 5 5v8a5 5 0 0 1-5 5H8a5 5 0 0 1-5-5V8Zm5-3a3 3 0 0 0-3 3v8a3 3 0 0 0 3 3h8a3 3 0 0 0 3-3V8a3 3 0 0 0-3-3H8Zm7.597 2.214a1 1 0 0 1 1-1h.01a1 1 0 1 1 0 2h-.01a1 1 0 0 1-1-1ZM12 9a3 3 0 1 0 0 6 3 3 0 0 0 0-6Zm-5 3a5 5 0 1 1 10 0 5 5 0 0 1-10 0Z"
              clip-rule="evenodd"></path>
          </svg>
          <span class="sr-only">Instagram page</span>
        </a>
        <!-- <a
          href="#"
          class="ms-5 text-gray-400 hover:text-gray-900 dark:hover:text-white"
        >
          <svg
            class="h-4 w-4 fill-current hover:text-gray-300"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 20 17"
          >
            <path
              fill-rule="evenodd"
              d="M20 1.892a8.178 8.178 0 0 1-2.355.635 4.074 4.074 0 0 0 1.8-2.235 8.344 8.344 0 0 1-2.605.98A4.13 4.13 0 0 0 13.85 0a4.068 4.068 0 0 0-4.1 4.038 4 4 0 0 0 .105.919A11.705 11.705 0 0 1 1.4.734a4.006 4.006 0 0 0 1.268 5.392 4.165 4.165 0 0 1-1.859-.5v.05A4.057 4.057 0 0 0 4.1 9.635a4.19 4.19 0 0 1-1.856.07 4.108 4.108 0 0 0 3.831 2.807A8.36 8.36 0 0 1 0 14.184 11.732 11.732 0 0 0 6.291 16 11.502 11.502 0 0 0 17.964 4.5c0-.177 0-.35-.012-.523A8.143 8.143 0 0 0 20 1.892Z"
              clip-rule="evenodd"></path>
          </svg>
          <span class="sr-only">Twitter page</span>
        </a> -->
        <!-- <a
          href="#"
          class="ms-5 text-gray-400 hover:text-gray-900 dark:hover:text-white"
        >
          <svg
            class="h-4 w-4 fill-current hover:text-gray-300"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 21 16"
          >
            <path
              d="M16.942 1.556a16.3 16.3 0 0 0-4.126-1.3 12.04 12.04 0 0 0-.529 1.1 15.175 15.175 0 0 0-4.573 0 11.585 11.585 0 0 0-.535-1.1 16.274 16.274 0 0 0-4.129 1.3A17.392 17.392 0 0 0 .182 13.218a15.785 15.785 0 0 0 4.963 2.521c.41-.564.773-1.16 1.084-1.785a10.63 10.63 0 0 1-1.706-.83c.143-.106.283-.217.418-.33a11.664 11.664 0 0 0 10.118 0c.137.113.277.224.418.33-.544.328-1.116.606-1.71.832a12.52 12.52 0 0 0 1.084 1.785 16.46 16.46 0 0 0 5.064-2.595 17.286 17.286 0 0 0-2.973-11.59ZM6.678 10.813a1.941 1.941 0 0 1-1.8-2.045 1.93 1.93 0 0 1 1.8-2.047 1.919 1.919 0 0 1 1.8 2.047 1.93 1.93 0 0 1-1.8 2.045Zm6.644 0a1.94 1.94 0 0 1-1.8-2.045 1.93 1.93 0 0 1 1.8-2.047 1.918 1.918 0 0 1 1.8 2.047 1.93 1.93 0 0 1-1.8 2.045Z"
            ></path>
          </svg>
          <span class="sr-only">Discord community</span>
        </a> -->
      </div>
    </div>
  </div>
</footer>
